<a href="https://colab.research.google.com/github/Varanasi-Software-Junction/vsjcolab/blob/main/Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Beginning Pandas**
**DataFrame** is a 2-dimensional labeled data structure with columns. It is compatible with a spreadsheet ,SQL table, or a dict of Series objects.

Dataframes are created by
1. A dictionary of 1D ndarrays, lists, dictionaries, or Series.

**Imports**

In [11]:
import numpy as np
import pandas as pd

**Simple Pandas Example**

**Dataframe** from **Series**

In [1]:

runs=pd.Series([10,100,50,420])
wickets=pd.Series([1,2,3,420])
data= {"Runs":runs,"Wickets":wickets}
df=pd.DataFrame(data)
print(df)
'''
Output

Runs Wickets
0 10 1
1 100 2
2 50 3
3 420 420
'''

   Runs  Wickets
0    10        1
1   100        2
2    50        3
3   420      420

'\nOutput\n\nRuns Wickets\n0 10 1\n1 100 2\n2 50 3\n3 420 420\n'

**Dataframe** from **list** and **Series**

In [12]:

runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
runseries=pd.Series(runs,index=names)
wicketseries=pd.Series(wickets,index=names)
data= {"Runs" : runseries, "Wickets" : wicketseries}
df=pd.DataFrame(data)
print(df)
'''
Output

Runs Wickets
Sachin 10 1
Rahul 100 2
Dhoni 50 3
Pappu 420 420
'''

        Runs  Wickets
Sachin    10        1
Rahul    100        2
Dhoni     50        3
Pappu    420      420

'\nOutput\n\nRuns Wickets\nSachin 10 1\nRahul 100 2\nDhoni 50 3\nPappu 420 420\n'

**Dataframe** from **dictionary**

In [13]:

runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"Runs" : runs, "Wickets" : wickets}
df=pd.DataFrame(data,index=names)
print(df)
'''
Output

Runs Wickets
Sachin 10 1
Rahul 100 2
Dhoni 50 3
Pappu 420 420
'''

        Runs  Wickets
Sachin    10        1
Rahul    100        2
Dhoni     50        3
Pappu    420      420

'\nOutput\n\nRuns Wickets\nSachin 10 1\nRahul 100 2\nDhoni 50 3\nPappu 420 420\n'

**Rearrange Columns**

In [14]:

runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"runs" : runs, "wickets" : wickets}
print(data)
df=pd.DataFrame(data,index=names , columns=['wickets','runs'])
print(df)

{'runs': [10, 100, 50, 420], 'wickets': [1, 2, 3, 420]}
        wickets  runs
Sachin        1    10
Rahul         2   100
Dhoni         3    50
Pappu       420   420

Example Accessing **Rows** and **Columns**

In [15]:

runs=[10,100,50,420]
wickets=[1,2,3,420]
names=["Sachin","Rahul","Dhoni","Pappu"]
data= {"runs" : runs, "wickets" : wickets}
print(data)
df=pd.DataFrame(data,index=names , columns=['wickets','runs'])
print(df)
print("Index",df.index)
print("Columns",df.columns)
print("Col 0",df.columns[0])
print("Wickets",df["wickets"])
x=df.loc["Sachin"]
print("Sachin",x)
x=df.loc["Sachin",:]
print("Sachin",x)

{'runs': [10, 100, 50, 420], 'wickets': [1, 2, 3, 420]}
        wickets  runs
Sachin        1    10
Rahul         2   100
Dhoni         3    50
Pappu       420   420
Index Index(['Sachin', 'Rahul', 'Dhoni', 'Pappu'], dtype='object')
Columns Index(['wickets', 'runs'], dtype='object')
Col 0 wickets
Wickets Sachin      1
Rahul       2
Dhoni       3
Pappu     420
Name: wickets, dtype: int64
Sachin wickets     1
runs       10
Name: Sachin, dtype: int64
Sachin wickets     1
runs       10
Name: Sachin, dtype: int64

**Dataframe** from **dictionary**

In [16]:

runs={"Sachin":100,"Pappu":420,"Saubhagya":1}
wickets={"Sachin":1,"Pappu":420}
data=[runs,wickets]
df=pd.DataFrame(data)
print(df)

   Sachin  Pappu  Saubhagya
0     100    420        1.0
1       1    420        NaN

**Dataframe** To **Excel**

In [17]:

runs={"Sachin":100,"Pappu":420,"Saubhagya":1}
wickets={"Sachin":1,"Pappu":420}
data=[runs,wickets]
index=["Runs","Wickets"]
df=pd.DataFrame(data,index)
print(df)
df.to_csv("scores.csv")
df.to_excel("scores.xlsx")

         Sachin  Pappu  Saubhagya
Runs        100    420        1.0
Wickets       1    420        NaN